/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Font size
 */
// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 100%;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 1.5;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px !default;

/**
 * Breakpoints
 */
$breakpoint-small   : 24em;
$breakpoint-small-2 : 30em;
$breakpoint-medium  : 48em;
$breakpoint-large   : 72em;
$breakpoint-xl      : 95em;

/**
 * Containers
 */
$max-width-container : 1200px;


/** Colors
========================================================================== */

/**
 * Palette
 */
$white: #FFFFFF;
$black: #000000;
$blue: #037BC0;
$light-grey: #838383;
$red: #C00303;

/**
 * Base
 */
$primary-color: $blue;
$secondary-color: $light-grey;
